:root {
  --white: rgba(235, 235, 235, 0.932);
  --color-secondary: #42b883;
  --color-background: #222222;

  --black: #181818;
  --black-mute: #282828;
  --indigo: #2c3e50;

  --divider-1: rgba(84, 84, 84, 0.65);
  --divider-2: rgba(84, 84, 84, 0.48);

  margin: 0;
  padding: 0;
  margin: 0;
}